/* index.css */
body {
  margin: 0;
  display: flex;
  place-items: center; /* Ez segít a függőleges/vízszintes igazításban */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* Fontos, hogy a root kitöltse a szélességet */
}
